.cart .filter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
	opacity: .7;

	background: rgb(233, 76, 161);
	background: linear-gradient(90deg, rgba(233, 76, 161, 1) 0%, rgba(199, 74, 233, 1) 100%);
}
.cart table{
	position: absolute;
	z-index: 100001;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
	box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
	border-collapse: collapse;
	background: #fafafa;
	text-align: center;

}
.cart table a{
	text-decoration: none;
}
.cart table td, th{
	padding: 12px 15px;
}
.cart table th{
	background: #ba68c8;
	color: #fafafa;
	text-transform: uppercase;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cart table td{
	font-family: sans-serif;
}
.cart table tr:nth-child(odd){
	background-color: #e6e2e2;
}

.filter h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    font-size: 40px;
}
.filter h1 span{
    color: red;
}
.filter p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 26%;

    color: black;
    font-size: 20px;
}

.cartBox .gotoCheckout{
    z-index: 100000000;
    outline: none;
    background: #5b639c;
    padding: 10px 8px;
    cursor: pointer;

    position: absolute;
    bottom: 5%;
    right: 2%;

    color: #fff;
    font-weight: 600;

}

@media (max-width: 650px) {
    .cartBox .cart {
        height: 90%;
        width: 90%;
    }
    .cart table{
        width: initial;
    }
}