html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #5b639c;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: red;
    text-decoration: none;
    font-weight: 600;

    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s linear;
}

header .navigation li a:hover {
    color: #ffeb3b;
}

header .iconShopping {
    position: relative;
    width: 150px;
    height: 40px;

}

/* added */
header .iconShopping p {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.89rem;
    background-color: black;
    padding: 5px 5px;
    border-radius: 50%;

    color: #fff;
}

header .iconShopping svg {
    color: #fff;
    cursor: pointer;
}

header .iconShopping .bi-cart-fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* My ADded */
header .navigation li span {
    background: #ffeb3b;
    padding: 8px 20px;
    font-weight: 600;
}

header .navigation li button {
    outline: none;
    border: none;
}

header .navigation li button a {
    background: #ffeb3b;
    padding: 8px 20px;
    font-weight: 600;
    color: black;
    transition: all 0.3s linear;
}

header .navigation li button a:hover {
    background: #434978;
    color: #fff;
}

/* Home/banner section */

.banner {
    background: #434978;
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content {
    max-width: 700px;
}

.banner .content h2 {
    font-size: 3em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.banner .content a {
    display: inline-block;
    background: #fff;
    color: #434978;
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 600;
    margin-top: 20px;
}

.banner .image {
    max-width: 400px;
    margin-left: 50px;
}

@media (max-width: 991px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    header .navigation li {
        margin-top: 15px;
    }

    header .iconShopping svg {
        margin-top: 5px;
        margin-left: 33.5%;
    }

    .banner {
        padding: 150px 20px 50px;
        flex-direction: column-reverse;
    }

    .banner .image {
        margin-left: 0;
        margin-top: 50px;
        max-width: 80%;
        margin-bottom: 50px;
    }

    .banner .content h2 {
        font-size: 2em;
    }

    .banner .content p {
        margin-top: 10px;
    }

    header .iconShopping p {
        left: 50px;
        font-size: 0.69rem;

    }
}

/* Wave */
.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.wave1 .shape-fill {
    fill: #434978;
}


/* Product Sec */

.itemsBox {
    /* background: #6D67E4; */
    position: relative;
    height: calc(100% -15vh);

    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: auto auto; */
    grid-gap: 10px;

    padding: 50px 25px;
}

.itemsBox .item {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    padding: 10px 25px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.itemsBox .item img {
    position: relative;
    width: 100%;
    height: 60%;
    object-fit: contain;

    transition: all 0.2s linear;
}

/* fjdsfnk */

.itemsBox .item:hover img {
    transform: scale(1.3);
}

/* fjdsfnk */


.itemsBox .item h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 10px 0;
}

.itemsBox .item p {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 10px 0;
    color: #017bf5;
}

.itemsBox .item a {
    text-decoration: none;
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 10px 0;
    background: #0f0f0f;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

    transition: all 0.2s linear;
}

.itemsBox .item a:hover {
    background: #0f0f0fa5;
}



@media (max-width: 991px) {
    .itemsBox {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .itemsBox {
        grid-template-columns: auto;
    }
}

/* CartBox */
.cartBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    /* z-index: 100; */
    z-index: 9999;

    transition: all 0.3s linear;
    transform: scale(0);
}

.cartBox.active {
    transform: scale(1);
}

.cartBox .cart {
    position: relative;
    height: 70%;
    /* height: 90%; */
    width: 80%;
    /* width: 90%; */
    background: #fff;
    /* subadded into */
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cartBox .cart svg {
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    cursor: pointer;
    /* padding: 10px 15px; */
    color: #fff;
    transition: all 0.2s linear;

    z-index: 100000000;
}

.cartBox .cart svg:hover {
    z-index: 100000000;
    background: #ff0000a5;
}

/* .cartBox .cart h1 {
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
    color: #017bf5;
} */

/* Table */
.cart .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    opacity: .7;

    background: rgb(233, 76, 161);
    background: linear-gradient(90deg, rgba(233, 76, 161, 1) 0%, rgba(199, 74, 233, 1) 100%);
}

.cart table {
    position: absolute;
    z-index: 100001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    border-collapse: collapse;
    background: #fafafa;
    text-align: center;

}


@media (max-width: 650px) {
    .cartBox .cart {
        height: 90%;
        width: 90%;
    }
    .cart table{
        width: initial;
    }
}

.cart table a {
    text-decoration: none;
}

.cart table td,
th {
    padding: 12px 15px;
}

.cart table th {
    background: #ba68c8;
    color: #fafafa;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart table td {
    font-family: sans-serif;
}

.cart table tr:nth-child(odd) {
    background-color: #e6e2e2;
}



.cart .gotoCheckout {
    z-index: 100000000;
    outline: none;
    background: #5b639c;
    padding: 10px 8px;
    cursor: pointer;

    position: absolute;
    bottom: 5%;
    right: 2%;

}

.cart .gotoCheckout a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}





/* about section + wave2 */
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./layer1.svg');
}

.layer2 {
    background-image: url('./layer2.svg');
}

.flip {
    transform: rotate(180deg);
}


/* about */
.abtBanner .content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.abtBanner .content h2 span {
    color: red;
}

.abtBanner p span {
    color: rgb(208, 255, 0);
}

.banner .content h2 span {
    color: red;
}


/* Footer Section */


footer {
    position: relative;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .content .top .logo-details {
    color: red;
    font-size: 30px;
}

footer .content .top .media-icons {
    display: flex;
}

footer .content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

footer .content .top .media-icons a svg {
    margin-top: 7px;
}

footer .content .top .media-icons a:nth-child(1) {
    background: #4267B2;
}

footer .content .top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

footer .content .top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

footer .content .top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

footer .content .top .media-icons a:nth-child(3) {
    background: #E1306C;
}

footer .content .top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

footer .content .top .media-icons a:nth-child(4) {
    background: #0077B5;
}

footer .content .top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

footer .content .top .media-icons a:nth-child(5) {
    background: #FF0000;
}

footer .content .top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

footer .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

footer .content .link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

footer .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

footer .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

footer .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }

    footer .content .top .logo-details {
        font-size: 26px;
    }

    footer .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .top .media-icons a svg {
        margin-top: 5px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    footer .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

}